        <% if user_signed_in? %>  
<h1><center>Welcome to my website</h1></center>
<br>
<div class="container-fluid fill">
  <div class="row-fluid">
        <div class="fixed">  <!-- we want this div to be fixed width -->
    <br>
      Italian Drink
    </br>
    <br>
      Southern Drink
    </br>
      <br>
      A Drink
    </br>
      <br>
      B Drink
    </br>
      <br>
      C Drink
    </br>
      <br>
      D Drink
    </br>
    </form>
     </div>
       <div class="hero-unit filler"> 
        <h3>Italian Drink</h3>
              <!-- we have removed spanX class -->
                     <div class="box">
     <%= image_tag("funded.jpg", :alt => "Get Funded!") %>
    <%= link_to "Like" %>
          </div>
          <div class="box">
Rorschach's father, an art teacher, encouraged him to express himself creatively[2] through painting and drawing conventional pictures. As the time of his high school graduation approached, he could not decide between a career in art and one in science. He wrote a letter to the famous German biologist Ernst Haeckel asking his advice.
</div>
 <div class="box">
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
</div>
 <div class="box">
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
</div>
 <div class="box">
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
</div>
 <div class="box">
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
</div>
 <div class="box">
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
</div>
<div class="box">
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
</div>
 <div class="box">
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
</div>
 <div class="box">
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
</div>
        </div>
    </div>
</div>
</div>
     <% else %>
     <div class="jumbotron center">
     <h1>Welcome to my app!</h1>
       <p> 
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-large" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %>      
       </p>
  <% end %>  
</div>
