     	  <% if user_signed_in? %>
<h1>Welcome to my website</h1>
<br>
<div class="container-fluid fill">
    <div class="row-fluid">
        <div class="fixed">  <!-- we want this div to be fixed width -->
              <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    <br>
      <button type="submit" class="btn btn-default">Search</button>
    </br>
    <br>
      Italian Drink
    </br>
      <br>
      Southern Drink
    </form>
        </div>
             <div class="hero-unit filler">  <!-- we have removed spanX class -->
            Rorschach was born in Z端rich, Switzerland, the eldest of three children born to Ulrich Rorschach. His sister's name was Anna and his brother's name was Paul. He spent his childhood and youth in Schaffhausen, in northern Switzerland. He was known to his school friends as Klecks, or "inkblot" since he enjoyed klecksography, the making of fanciful inkblot "pictures".
Rorschach's father, an art teacher, encouraged him to express himself creatively[2] through painting and drawing conventional pictures. As the time of his high school graduation approached, he could not decide between a career in art and one in science. He wrote a letter to the famous German biologist Ernst Haeckel asking his advice. The scientist suggested science, and Rorschach enrolled in medical school at the University of Zurich. Rorschach began learning Russian, and in 1906, while studying in Berlin, he went for a holiday in Russia.
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
In 1857 German doctor Justinus Kerner had published a popular book of poems, each of which was inspired by an accidental inkblot, and it has been speculated that the book was known to Rorschach.[3] French psychologist Alfred Binet had also experimented with inkblots as a creativity test.[4]
By July 1914 Rorschach had returned to Switzerland, where he served as an Assistant Director at the regional psychiatric hospital at Herisau,[4] and in 1921 he wrote his book Psychodiagnostik, which was to form the basis of the inkblot test. The Inkblots were an overnight success due to the seemingly miraculous behavior readings they provided.[5] However, they have been considered pseudoscience and remain controversial.[6]
---
Rorschach was born in Z端rich, Switzerland, the eldest of three children born to Ulrich Rorschach. His sister's name was Anna and his brother's name was Paul. He spent his childhood and youth in Schaffhausen, in northern Switzerland. He was known to his school friends as Klecks, or "inkblot" since he enjoyed klecksography, the making of fanciful inkblot "pictures".
Rorschach's father, an art teacher, encouraged him to express himself creatively[2] through painting and drawing conventional pictures. As the time of his high school graduation approached, he could not decide between a career in art and one in science. He wrote a letter to the famous German biologist Ernst Haeckel asking his advice. The scientist suggested science, and Rorschach enrolled in medical school at the University of Zurich. Rorschach began learning Russian, and in 1906, while studying in Berlin, he went for a holiday in Russia.
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
In 1857 German doctor Justinus Kerner had published a popular book of poems, each of which was inspired by an accidental inkblot, and it has been speculated that the book was known to Rorschach.[3] French psychologist Alfred Binet had also experimented with inkblots as a creativity test.[4]
By July 1914 Rorschach had returned to Switzerland, where he served as an Assistant Director at the regional psychiatric hospital at Herisau,[4] and in 1921 he wrote his book Psychodiagnostik, which was to form the basis of the inkblot test. The Inkblots were an overnight success due to the seemingly miraculous behavior readings they provided.[5] However, they have been considered pseudoscience and remain controversial.[6]
---
Rorschach was born in Z端rich, Switzerland, the eldest of three children born to Ulrich Rorschach. His sister's name was Anna and his brother's name was Paul. He spent his childhood and youth in Schaffhausen, in northern Switzerland. He was known to his school friends as Klecks, or "inkblot" since he enjoyed klecksography, the making of fanciful inkblot "pictures".
Rorschach's father, an art teacher, encouraged him to express himself creatively[2] through painting and drawing conventional pictures. As the time of his high school graduation approached, he could not decide between a career in art and one in science. He wrote a letter to the famous German biologist Ernst Haeckel asking his advice. The scientist suggested science, and Rorschach enrolled in medical school at the University of Zurich. Rorschach began learning Russian, and in 1906, while studying in Berlin, he went for a holiday in Russia.
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
In 1857 German doctor Justinus Kerner had published a popular book of poems, each of which was inspired by an accidental inkblot, and it has been speculated that the book was known to Rorschach.[3] French psychologist Alfred Binet had also experimented with inkblots as a creativity test.[4]
By July 1914 Rorschach had returned to Switzerland, where he served as an Assistant Director at the regional psychiatric hospital at Herisau,[4] and in 1921 he wrote his book Psychodiagnostik, which was to form the basis of the inkblot test. The Inkblots were an overnight success due to the seemingly miraculous behavior readings they provided.[5] However, they have been considered pseudoscience and remain controversial.[6]
---
Rorschach was born in Z端rich, Switzerland, the eldest of three children born to Ulrich Rorschach. His sister's name was Anna and his brother's name was Paul. He spent his childhood and youth in Schaffhausen, in northern Switzerland. He was known to his school friends as Klecks, or "inkblot" since he enjoyed klecksography, the making of fanciful inkblot "pictures".
Rorschach's father, an art teacher, encouraged him to express himself creatively[2] through painting and drawing conventional pictures. As the time of his high school graduation approached, he could not decide between a career in art and one in science. He wrote a letter to the famous German biologist Ernst Haeckel asking his advice. The scientist suggested science, and Rorschach enrolled in medical school at the University of Zurich. Rorschach began learning Russian, and in 1906, while studying in Berlin, he went for a holiday in Russia.
Rorschach studied under the eminent psychiatrist Eugen Bleuler, who had taught Carl Jung. The excitement in intellectual circles over psychoanalysis constantly reminded Rorschach of his childhood inkblots. Wondering why different people often saw entirely different things in the same inkblots, he began, while still a medical student, showing inkblots to schoolchildren and analyzing their responses.
In 1857 German doctor Justinus Kerner had published a popular book of poems, each of which was inspired by an accidental inkblot, and it has been speculated that the book was known to Rorschach.[3] French psychologist Alfred Binet had also experimented with inkblots as a creativity test.[4]
By July 1914 Rorschach had returned to Switzerland, where he served as an Assistant Director at the regional psychiatric hospital at Herisau,[4] and in 1921 he wrote his book Psychodiagnostik, which was to form the basis of the inkblot test. The Inkblots were an overnight success due to the seemingly miraculous behavior readings they provided.[5] However, they have been considered pseudoscience and remain controversial.[6]
---
        </div>
    </div>
</div>
</div>
     <% else %>
     <div class="jumbotron center">
     <h1>Welcome to my app!</h1>
       <p> 
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-large" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %>      
       </p>
  <% end %>  
</div>